/* ******************* Custom Properties ******************* */

:root {
  --first-color: ;
  --first-alpha-color: ;
  --second-color: ;
  --second-alpha-color: ;

  --link-color: rgb(230, 226, 218);
  --link-alpha-color: ;

  --bg-color: rgb(0, 0, 0);
  --bg-alpha-color: ;
}

/* ******************* Reset Styles ******************* */
html, body {
    transition: opacity 0.3s;
}
body {
  font-family: "Urbanist", sans-serif;
  background-color: var(--bg-color);
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: var(--link-color);
}

footer {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 2rem !important;
}
/* ******************* Bootstrap Styles ******************* */

.bg-dark {
  background-color: var(--bg-color) !important;
}

.navbar-dark .navbar-toggler {
  --bs-navbar-color: rgba(0, 0, 0);
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.nav-item {
  text-transform: uppercase;
}

.navbar-nav {
  height: 100vh;
}

.mi-boton {
  background-color: #000000;
  border-width: 0;
}

.btn-volver {
  background-color: var(--bs-modal-bg);
  border-bottom: white;
  border-color: white;
  border-right: #ffffff;
  border-top: black;
  border-left: black;
}

.btn-volver:active {
  background-color: var(--bs-modal-bg);
  border-bottom: white;
  border-color: white;
  border-right: white;
}

.modal {
  --bs-modal-bg: #000000;
  --bs-modal-header-border-color: var(--bs-modal-bg);
  --bs-modal-footer-border-color: var(--bs-modal-bg);
}

/* ******************* My Styles ******************* */

button {
  text-align: left !important;
}

.cartel {
  background-color: #000000;
  opacity: 0;
  transition: opacity 0.3s;
}

.cartel:hover {
  opacity: 75%;
  cursor: pointer;
}

#logo {
  height: 4rem;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
}

/* // X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .nav-item {
    padding: 0px 10px;
  }

  .navbar-nav {
    height: auto;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  /* footer {
        position: fixed;
        bottom: 0;
        left: auto;
        right: auto;
    } */
}

@media (hover: hover) {
  
}

@media (hover: none) {
  .cartel {
    display: none;
  }
}
